/*
    This stylesheet was created for the index.jsx located inside of the /pages/home
    This is a scoped stylesheet and should only be imported within the index.jsx located in /pages/home
*/

/* Change any style here to match your design for your home page*/
/* .home {
	background: #dedede;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 64px;
} */

 /* .homepage{
        border-radius: 5px;
        border: 2px solid #92939b;
        margin: 60px auto;
        width: 100%;
              } */

     .home-container {
        height: 100vh;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        background-image: url("../Home//mentoring-pic-1.jpg");
        background-attachment: fixed;
        background-size:contain;
        background-position: center;
        position: relative;
        
    }

    .home-message{
        -webkit-animation: zoom 10s;
        animation: zoom 10s;
                /* pust some styling here for text */
    }
              /* .home-img{
    background-image: url("../Home/Mentorship3.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
              } */

      