/*
    This stylesheet was created for the index.jsx located inside of the /pages/home
    This is a scoped stylesheet and should only be imported within the index.jsx located in /pages/home
*/

/* #CED8E1, #1CC8A0, #102B3E */
 
     .home-container {
        height: 700px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        background-color: #CED8E1;
        /* background-image: url("../Home/mentoring-pic.jpg"); */
        /* background-attachment: fixed;
        background-size:contain;
        background-position: center; */
        position: relative;
        /* object-fit:cover; */
        
    }
.home-img{
    width:400px
    
              }

    .message{
       color: #102B3E;
               /* pust some styling here for text */
    }

    
    .message-small{
       color: #1CC8A0;
       font-weight:700;
               /* pust some styling here for text */
    }