.navbar {
        background: #495fda;
        color: white;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      
      .navlink {
        display: inline-block;
        padding: 10px 15px;
        color: white;
        cursor: pointer;
      }
      
      .navlink:hover {
        text-decoration: underline;
      }
