/* ==========HEADER============ */

/* #CED8E1, #1CC8A0, #102B3E */
.header {
	width: 100%;
	background-color: #102B3E;
	padding: 10px;
 	top: 0;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}

.div-head {
	display: flex;
	margin-left: 180px;
}

.fixed {
	margin-left: 120px;
}

.head-text {
	margin-top: 15px;
	margin-left: -200px;
	margin-right: 10px;
	font-family: sans-serif;
	color: #1CC8A0;
}

.head-text:hover{
color: #CED8E1;
}

#search {
	width: 480px;
	padding: 14px;
	margin-left: 60px;
	background-color: #CED8E1;
	border: 2px solid #102B3E;
	border-radius: 20px;
}

#search::placeholder {
	font-size: 16px;
	width: max-content;
	color: #102B3E;;
}

.flex-head {
	display: flex;
	margin: 10px;
}

.btn {
	height: 60px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
}

.btn:hover {
	background-color: #CED8E1;
	color: #102B3E;
	border: none;
}

.login, .signup {
	padding: 15px;
	box-shadow: 1px 1px 1px 1px #CED8E1;
	font-family: sans-serif;
	color: #102B3E;
}

.login, .signup {
	margin: 0px 0px 0px 10px;
}

.login {
	border: 1px solid #999;
	color: #CED8E1;
}

.login {
	margin-left: 80px;
}

.signup {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #1CC8A0;
	border: none;
}

.nav-end {
	margin-left: 10px;
}

.tel {
	margin: 20px 80px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #1CC8A0;
}

.tel:hover {
	text-decoration: 2px underline;
}

.home-tel {
	margin-left: 50px;
	margin-right: -30px;
}