
/* ==========HEADER============ */
.header {
	width: 100%;
		background-color: #ddd;
	padding: 10px;
 	top: 0;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
}

.header p {
	margin: 10px;
	padding-top: 10px;
	font-size: 18px;
	font-weight: 500;
}

.header p:hover {
	transform: translateX(-3px);
	text-decoration: underline;
}

.flex-head {
	display: flex;
		margin: 10px 0px 10px 500px;
}

.head-text,
.head-para {
	margin-left: 30px;
	font-family: sans-serif;
	color: rgb(3, 3, 54);
}

.search-input {
	width: 400px;
	padding: 14px;
	border-radius: 5px;
	margin: 10px;
}

#search {
	margin-left: -500px;
	margin-right: 50px;
	border: 2px solid rgb(3, 3, 54);
}

#search::placeholder {
	font-size: 16px;
	width: max-content;
}

.btn {
	height: 60px;
	margin-left: 30px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
}

.btn:hover {
	background-color: #fff;
	color: rgb(3, 3, 54);
	border: none;
}

.login, .signup {
	padding: 10px 45px;
	margin: 0px 0px 0px 10px;
	box-shadow: 1px 1px 1px 1px #999;
	font-family: sans-serif;
	color: #fff;
}

.login {
	margin-left: 60px;
	border: 1px solid #999;
	color: rgb(3, 3, 54);
}

.signup {
	background-color: rgb(3, 3, 54);
	border: none;
}