/*
    This stylesheet was created for the index.jsx located inside of the /pages/home
    This is a scoped stylesheet and should only be imported within the index.jsx located in /pages/home
*/

/* Change any style here to match your design for your home page*/

/* ========STYLING MENTOR PREVIEW LAYOUT========= */
.mentor-list {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
}
