.show-mentor {
    background-color: #ccc;
    width: 100%;
    height: 200vh;
}

.blue-div {
    width: 100%;
    height: 300px;
    background-color: rgb(3, 3, 54);
}
.banner-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.mentor-image {
    position: relative;
    margin-top: -200px;
    margin-left: 730px;
    margin-right: 600px;
    /* border: 2px solid rgb(3, 3, 54); */
    /* background-color: rgb(3, 3, 54);
    border-radius: 10px;
    padding: 0px 8px; */
}

.mentor-name {
    text-align: center;
    padding: 30px;
    color: rgb(3, 3, 54);
}

.experience-para {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
    font-weight: 500;
    color: rgb(3, 3, 54);
}

.SM-Link {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover {
    opacity: 0.9;
}

.small-boxes ul {
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.small-boxes ul li {
    padding: 10px;
    list-style-type: none;
    margin: -10px 10px;
    font-size: 22px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 3px 3px #999;
}

.small-boxes ul li:last-child {
    background-color: rgb(3, 3, 54);
}

.small-boxes ul li:last-child span {
    color: #fff;
}

.small-boxes ul li:last-child:hover {
    opacity: 0.9;
}

.small-boxes ul li:first-child {
    font-weight: 1000;
}

.inline-headlist ul {
    width: 100%;
    padding: 20px;
    
    display: flex;
    justify-content: center;
}

.inline-headlist ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 20px;
}

.list-span:hover {
    color: rgb(187, 110, 110);
}

section {
    width: 100%;
    padding: 10px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about, .reviews, .session {
    margin: 15px;
    text-align: left;
}

#about-heading, #contact {
    text-align: center;
    padding: 10px;
}

#about-info {
    margin-left: 300px;
}

.reviews p, .session p {
    color: rgb(187, 110, 110);
}

.session {
    text-align: center;
}

hr {
    margin-top: 20px;
}

.date {
    display: inline-block;
    margin-left: 1200px;
}